################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DataStructures/DataStructures/Debug
/DataStructures/Debug
/DataStructures/.vs
.vscode
/DataStructures/DataStructures/x64/Debug
/DataStructures/x64/Debug
